<div>
    <div class="panel panel-success">
        <div class="panel-heading">Panel heading</div>
        <div class="panel-body">
            <a href="#" onClick="initMap(); initMap2();">Prezentacja map</a><br />

            Prezentacja tras na podstawie punktów trasy: <br />
            <div id="map2" style="width: 900px; height: 400px;"></div><br />

            Prezentacja tras na podstawie początku i końca trasy oraz zadanych punktów pośrednich, z wykorzystaniem DirectionServices:<br />
            <div id="map" style="width: 900px; height: 400px;"></div>
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, zril quaeque pericula per ei. Pri omnes copiosae at, ex vim prompta constituto, mel ut rebum eleifend. Vel no simul primis, eam at eros pericula. Cu soluta assueverit disputando eos, his autem quaestio in. An vim eius melius.
            </p>
            <p>
                Alia petentium vel ea, oportere salutandi imperdiet vim ne. Ex his sumo eruditi aliquando, te reque altera imperdiet qui. Appetere inimicus ne per. Usu amet fabulas constituam no, facilis temporibus cum ne, ea liberavisse comprehensam qui.
            </p>
            <p>
                Inani mentitum ad duo, ea sed facer putent qualisque, an vocent vituperata conclusionemque mei. Cu affert possim sed, nullam utamur dignissim nam ad, ut duo nominavi pertinacia adversarium. No minimum fabellas vis. Quod luptatum id est, pri te choro deleniti.
            </p>
            <p>
                Has no saepe eloquentiam, ne aliquip postulant nec. Per ea animal recteque facilisis. Ei cum aperiam instructior contentiones, recusabo disputationi et has, eius accommodare at ius. Ex sea mundi dolor scribentur, magna forensibus ei est. Te eius mucius delectus vim, pro nobis quando ei.
            </p>
            <p>
                Ea pro hinc tacimates quaerendum, justo perfecto pro et. Cibo illum consetetur pri ut, latine consequat concludaturque sed in. Diam posidonium an mea, habeo impedit suscipit ad quo, odio dicam feugait usu et. Te aliquid mediocrem appellantur duo. Adhuc sonet delicata cu vis.
            </p>
        </div>
    </div>
</div>