# Git Ignore file for Java projects
#
# Date:   23.05.2015

# Java specific
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Project specific
*.log
fconf-gui.log*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse specific
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# Intellij specific
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
*.out
/bin/

# Gradle
.gradle
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# Local Git configuration
.gitconfig

# Angular2
node_modules/
typings/
typings/typings
node_modules
jspm_packages
bower_components

#aplication conf
application-phar.yml