<nav>
    <a href="/login/facebook">Zaloguj przez facebook'a!</a>
    <a href="/login/github">Zaloguj przez github'a!</a>
    <a href="/login/google">Zaloguj przez google'a!</a>
    <a href="/logout" >Wyloguj</a>


</nav>
<div>
    <h1>Login</h1>
    <form role="form" (submit)="login($event, username.value, password.value)">
        <div class="form-group">
            <label for="username">Email</label>
            <input type="text" #username class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password">Hasło</label>
            <input type="password" #password class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit">Wyślij</button>
    </form>
</div>